@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fiolalisa-Outline';
  src: url('/fonts/Fiolalisa-Sans-Outline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fiolalisa';
  src: url('/fonts/Fiolalisa-Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FocusGrotesk';
  src: url('/fonts/FocusGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}